<section>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input
      matInput
      [ngModel]="searchText"
      (keyup)="onTextChange($event)"
      placeholder="Placeholder"
    />
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  <ng-container *ngIf="listItems.length > 0">
    <ng-container *ngFor="let item of listItems">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <img
            mat-card-avatar
            src="{{ item.thumbnail.path + '.' + item.thumbnail.extension }}"
            alt="Photo of item"
          />
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </ng-container>
  </ng-container>
</section>
